.wp-caption {
	margin-bottom: 1.555555555555556em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	font-style: italic;
	text-align: center;
}